.new-tweet {
  display: flex;
  flex-direction: column;

  padding: 32px;

  color: #555149;
  font-weight: bold;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  border: none;
  outline: none;
  border-bottom: 4px solid #555149;
  background-color: #f3f1eb;
  height: 32px;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.new-tweet button {
  border: none;
  outline: none;
  background-color: #4056a1;
  color: #ffffff;
  font-family: "Bungee", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.counter {
  font-family: "Bungee", sans-serif;
}

.error {
  border: 2px solid red;
  padding: 8px;
  margin-bottom: 32px;

  font-family: "Source Sans 3", sans-serif;
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;

  display: none;
}

.message {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  color: red;
  font-size: 24px;
}

.error i {
  color: red;
  font-size: 24px;
}
